<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" \
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>networklistener</string>
  <key>LowPriorityIO</key>
  <true/>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/networklistener</string>
    <string>--bridge-name</string>
    <string>bridge100</string>
  </array>
  <key>WatchPaths</key>
  <array>
    <string>/Library/Preferences/SystemConfiguration/com.apple.vmnet.plist</string>
    <string>/var/db/dhcpd_leases</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
